<% include ./partials/header %>

<div class="container">
    <div class="card card-container">
        <!--<img id="logo-img" class="logo-img-card" src="" />-->
        <h3 class="centered-headings">Sign In</h3>
        <form class="form form-signin" action="/login" method="POST">
            <input class="form-control" type="email" name="username" id="email" placeholder="Email">
            
            <input class="form-control" type="password" name="password" id="password" placeholder="Password">

            <button class="btn btn-lg btn-primary btn-signin" type="submit">Sign In</button>
        </form>
        <a href="#" class="forgot-password">Forgot password?</a>
    </div>
</div>

<% include ./partials/footer %>